In [1]:
# Эло рейтинг для футбола
'''
+/- 1. Создание игрока по имение и присовение ему стандартных параметров raiting и winrate.  Заведение их в сводную таблицу 
+/- 2. Выбор игроков участвующих в матче
    3. Разбиение игроков на команды (команд больше 2). Ручной режим (пока хз как) и автоматическая балансировка
+   4. Расчет ЭЛО-рейтинга для команд. 
    5. Перерасчет показателей rating и winrate для игроков по итогу матча (игроки пропустившие матч получают -0,5% от рейтинга)
+   6. Сохраниеие данных. Импорт и экпорд данных.
'''

'\n+/- 1. Создание игрока по имение и присовение ему стандартных параметров raiting и winrate.  Заведение их в сводную таблицу \n+/- 2. Выбор игроков участвующих в матче\n    3. Разбиение игроков на команды (команд больше 2). Ручной режим (пока хз как) и автоматическая балансировка\n+   4. Расчет ЭЛО-рейтинга для команд. \n    5. Перерасчет показателей rating и winrate для игроков по итогу матча (игроки пропустившие матч получают -0,5% от рейтинга)\n+   6. Сохраниеие данных. Импорт и экпорд данных.\n'

In [2]:
import pandas as pd
import numpy as np

In [3]:
def save_df():
    ''' Сохранение датасета'''
    df.to_csv("PlayersList.csv", index=False)
    print("Сохранение завершено")

# работает

In [4]:
def load_df():
    ''' Загрузка датасета'''
    
    return pd.read_csv("PlayersList.csv")

# работает

In [5]:
df = load_df()
df

       name  rating  games  wins  defeats  draws  winrate
0   Николай  2500.0    0.0   0.0      0.0    0.0      0.0
1      Миша  2500.0    0.0   0.0      0.0    0.0      0.0
2       Кэп  2500.0    0.0   0.0      0.0    0.0      0.0
3      Ваня  2500.0    0.0   0.0      0.0    0.0      0.0
4      Макс  2500.0    0.0   0.0      0.0    0.0      0.0
5    Андрей  2500.0    0.0   0.0      0.0    0.0      0.0
6    Кирпич  2500.0    0.0   0.0      0.0    0.0      0.0
7      Даня  2500.0    0.0   0.0      0.0    0.0      0.0
8    Валера  2500.0    0.0   0.0      0.0    0.0      0.0
9      Толя  2500.0    0.0   0.0      0.0    0.0      0.0
10   Кирилл  2500.0    0.0   0.0      0.0    0.0      0.0
11     Вася  2500.0    0.0   0.0      0.0    0.0      0.0
12    Роман  2500.0    0.0   0.0      0.0    0.0      0.0
13     Саша  2500.0    0.0   0.0      0.0    0.0      0.0
14    Костя  2500.0    0.0   0.0      0.0    0.0      0.0
15     Стас  2500.0    0.0   0.0      0.0    0.0      0.0

In [6]:
full_stuck = pd.DataFrame() 

full_stuck = df

team_1 = pd.DataFrame()                
team_2 = pd.DataFrame()                        
                        
#team_3 = pd.DataFrame()    
#team_4 = pd.DataFrame()

In [7]:
def new_player(name, rating = 2500, games = 0, wins = 0, defeats = 0,  draws = 0, winrate = 0, df = df):
    """
    Создание игрока
    Если рейтинг не указан - присваевается стандартный (наверно 2500)
    Если кол-во игр не указано - присваевается 0
    Если винрейт не указан - присваевается стандартный (0)
    """
    name = name
    rating = rating
    games = games
    wins = wins
    winrate = winrate
    df = df
    newplayer = {'name':name, 'rating':rating, 'games':games, 'wins':wins, 'defeats':defeats, 'draws':draws, 'winrate':winrate}
    df = df.append(newplayer, ignore_index=True)
    return df

# работает

In [8]:
def team_bilding(plaeyer_name:str, full_stuck = full_stuck, df = df):
    """
    Создает команду для матча
    Передаем имя игрока (должно быть уникальным)
    Передаем Дата-Фрейм команды
    Добавляется по одному игроку
    """
    
    plaeyer_name = plaeyer_name
    full_stuck = full_stuck
    df = df
    full_stuck = full_stuck.append(df.loc[df['name'] == plaeyer_name], ignore_index=True)
    return team_df

# работает

In [9]:
def list_of_players(df):
    """
    Воводит список всех игроков (список имен из столбца 'name')
    """      
    
    df = df
    players_list = df.name.tolist()
    return players_list

# работает

In [10]:
def re_name(old_name:str, new_name:str, df = df):
    """
    Перемименовывание игрока.
    На вход подаются два параметра
    old_name - старое имя, которое указано в датафрейме
    new_name - имя на которое будет изменено
    """         
    df = df
    old_name = old_name
    new_name = new_name
    lf = list_of_players(df)
    i = lf.index(old_name)
    df.at[i, "name"] = new_name
    return df    
    
# работает

In [11]:
def remove_player(remove_name, df=df):
    '''
    Удаление игрока по имени
    на вход подается имя, которое указано в датафрейме
    '''
    df =df    
    remove_name = remove_name
    lf = list_of_players(df)
    i = lf.index(remove_name)
    df = df.drop(labels = i, axis = 0)
    return df

# работает

In [12]:
def calc_teams_raiting(full_stuck=full_stuck):
    '''
    Времянка, которая умеет хорошо балансить на две команды
    используется как костыль
    '''
    full_stuck = full_stuck
    que = df.rating.tolist()
    que.sort()
    que.reverse()
    if len(que)%2: que.insert(0,0)
    t1,t2 = [],[]
    while que:
        if abs(len(t1)-len(t2))>=len(que):
            [t1, t2][len(t1)>len(t2)].append(que.pop(0))
        else:
            [t1, t2][sum(t1)>sum(t2)].append(que.pop(0))
#    print(min(sum(t1),sum(t2)), max(sum(t1),sum(t2))), "\n"
    return[t1, t2]

# работает

In [13]:
def team_c(full_stuck = full_stuck, calc_teams_raiting = calc_teams_raiting, team_1 = team_1):
    calc_teams_raiting = calc_teams_raiting
    t1, t2 = calc_teams_raiting()
    full_stuck = full_stuck
    team_1 = team_1
    pleyer_counter = full_stuck.name.tolist()
    for i in range(len(pleyer_counter)):
        if full_stuck.at[i,'rating'] in t1 :
            team_1 = team_1.append(full_stuck.loc[full_stuck['name'] == full_stuck.at[i,'name']], ignore_index=True)
            
            
        if sum(t1) == team_1['rating'].sum():
            break            
    return team_1            

# работает

In [14]:
def team_a(full_stuck = full_stuck, calc_teams_raiting = calc_teams_raiting, team_1 = team_1):
    '''
    На основе игроков участвующих сегодня в матче (датафрейм - full_stuck)
    и рейтинга подсчитанного из calc_teams_raiting для 2-х команд
    икроки раскидываются на два датафрейма team_a и team_b
    '''   
    calc_teams_raiting = calc_teams_raiting
    t1, t2 = calc_teams_raiting()
    full_stuck = full_stuck
    team_1 = team_1
    pleyer_counter = full_stuck.name.tolist()
    for i in range(len(pleyer_counter)):
        if full_stuck.at[i,'rating'] in t1:
            team_1 = team_1.append(full_stuck.loc[full_stuck['name'] == full_stuck.at[i,'name']], ignore_index=True)
        if sum(t1) == team_1['rating'].sum():
            break
    if sum(t1) == team_1['rating'].sum():
        return team_1
    else:
        print('Ошибка набора в команду 1')
# работает

In [15]:
team_a()

      name  rating  games  wins  defeats  draws  winrate
0  Николай  2500.0    0.0   0.0      0.0    0.0      0.0
1     Миша  2500.0    0.0   0.0      0.0    0.0      0.0
2      Кэп  2500.0    0.0   0.0      0.0    0.0      0.0
3     Ваня  2500.0    0.0   0.0      0.0    0.0      0.0
4     Макс  2500.0    0.0   0.0      0.0    0.0      0.0
5   Андрей  2500.0    0.0   0.0      0.0    0.0      0.0
6   Кирпич  2500.0    0.0   0.0      0.0    0.0      0.0
7     Даня  2500.0    0.0   0.0      0.0    0.0      0.0

In [16]:
def team_b(full_stuck = full_stuck, calc_teams_raiting = calc_teams_raiting, team_2 = team_2):
    '''
    На основе игроков участвующих сегодня в матче (датафрейм - full_stuck)
    и рейтинга подсчитанного из calc_teams_raiting для 2-х команд
    икроки раскидываются на два датафрейма team_a и team_b
    Проходит по списку full_stuck с обратной стороны - (len(pleyer_counter) - 1, -1, -1)
    '''   
    calc_teams_raiting = calc_teams_raiting
    t1, t2 = calc_teams_raiting()
    full_stuck = full_stuck
    team_2 = team_2
    pleyer_counter = full_stuck.name.tolist()
    for i in range(len(pleyer_counter) - 1, -1, -1):
        if full_stuck.at[i,'rating'] in t2:
            team_2 = team_2.append(full_stuck.loc[full_stuck['name'] == full_stuck.at[i,'name']], ignore_index=True)
        if sum(t2) == team_2['rating'].sum():
            break
    if sum(t2) == team_2['rating'].sum():
        return team_2
    else:
        print('Ошибка набора в команду 2')
# работает

In [17]:
team_b()

     name  rating  games  wins  defeats  draws  winrate
0    Стас  2500.0    0.0   0.0      0.0    0.0      0.0
1   Костя  2500.0    0.0   0.0      0.0    0.0      0.0
2    Саша  2500.0    0.0   0.0      0.0    0.0      0.0
3   Роман  2500.0    0.0   0.0      0.0    0.0      0.0
4    Вася  2500.0    0.0   0.0      0.0    0.0      0.0
5  Кирилл  2500.0    0.0   0.0      0.0    0.0      0.0
6    Толя  2500.0    0.0   0.0      0.0    0.0      0.0
7  Валера  2500.0    0.0   0.0      0.0    0.0      0.0

In [18]:
def elo_raiting(team_a = team_a, team_b = team_b, winner = None, df = df):
    """
    Вычисляется ожидаемое количество очков
    если на вход параметра winner приходит 0 - ничья
    если приходит 1 - Победила команда А
    если приходит 2 - Победила команда B
    """

    team_a = team_a()
    team_b = team_b()
    winner = winner
    df = df
    
    K = 50
    Ea = 1 / (1 + 10 ** ((team_b['rating'].sum() - team_a['rating'].sum()) / 2000))
    

    if winner == 1:
        score1 = 1.0 
        score2 = 0.0
        print('Победила команда А')
    elif winner == 2:
        score1 = 0.0
        score2 = 1.0        
        print('Победила команда Б')
    elif winner == 0:
        score1 = 1 -Ea
        score2 = Ea 
        print('Получается ничья')
    else:
        print('Итог матча не ясен')
        
    
    Ra = team_a['rating'].sum() + K * (score1 - Ea)
    Rb = team_b['rating'].sum() + K * (score2 - Ea)
    
    team_a_mmr = round(Ra - team_a['rating'].sum())
    team_b_mmr = round(Rb - team_b['rating'].sum())
    
    
    names_pool = df.name.tolist()
    names_a = team_a.name.tolist()
    names_b = team_b.name.tolist()
    
    for i in range(len(names_pool)):
        # для команды А
        if df.at[i,'name'] in names_a  and  winner == 1: # выигрыш данной команды
            df.at[i, "rating"] += team_a_mmr
            df.at[i, "games"] += 1
            df.at[i, "wins"] += 1
            df.at[i, "winrate"] = df.at[i, "wins"] / df.at[i, "games"] * 100
        elif df.at[i,'name'] in names_a  and  winner == 2: # проигрыш данной команды 
            df.at[i, "rating"] += team_a_mmr
            df.at[i, "games"] += 1
            df.at[i, "defeats"] += 1
        elif df.at[i,'name'] in names_a  and  winner == 0: # Ничья
            df.at[i, "rating"] += team_a_mmr
            df.at[i, "games"] += 1
            df.at[i, "draws"] += 1     
#    for i in range(len(names_pool)):
        # для команды В
        if df.at[i,'name'] in names_b and  winner == 2: # выигрыш данной команды
            df.at[i, "rating"] += team_b_mmr
            df.at[i, "games"] += 1
            df.at[i, "wins"] += 1
            df.at[i, "winrate"] = df.at[i, "wins"] / df.at[i, "games"] * 100
        elif df.at[i,'name'] in team_b  and  winner == 1: # проигрыш данной команды 
            df.at[i, "rating"] += team_b_mmr
            df.at[i, "games"] += 1
            df.at[i, "defeats"] += 1
        elif df.at[i,'name'] in team_b  and  winner == 0: # Ничья
            df.at[i, "rating"] += team_b_mmr
            df.at[i, "games"] += 1
            df.at[i, "draws"] += 1 
            
    print(team_a_mmr)
    print(team_b_mmr)
    
    return df
            
                
# расчитать новые значения для таблицы DF после расчета
# расчет рейтинга работает

In [19]:
elo_raiting(winner=2)

Победила команда Б
-25
25

       name  rating  games  wins  defeats  draws  winrate
0   Николай  2475.0    1.0   0.0      1.0    0.0      0.0
1      Миша  2475.0    1.0   0.0      1.0    0.0      0.0
2       Кэп  2475.0    1.0   0.0      1.0    0.0      0.0
3      Ваня  2475.0    1.0   0.0      1.0    0.0      0.0
4      Макс  2475.0    1.0   0.0      1.0    0.0      0.0
5    Андрей  2475.0    1.0   0.0      1.0    0.0      0.0
6    Кирпич  2475.0    1.0   0.0      1.0    0.0      0.0
7      Даня  2475.0    1.0   0.0      1.0    0.0      0.0
8    Валера  2525.0    1.0   1.0      0.0    0.0    100.0
9      Толя  2525.0    1.0   1.0      0.0    0.0    100.0
10   Кирилл  2525.0    1.0   1.0      0.0    0.0    100.0
11     Вася  2525.0    1.0   1.0      0.0    0.0    100.0
12    Роман  2525.0    1.0   1.0      0.0    0.0    100.0
13     Саша  2525.0    1.0   1.0      0.0    0.0    100.0
14    Костя  2525.0    1.0   1.0      0.0    0.0    100.0
15     Стас  2525.0    1.0   1.0      0.0    0.0    100.0