In [ ]:
# Эло рейтинг для футбола
'''
+/- 1. Создание игрока по имение и присовение ему стандартных параметров raiting и winrate.  Заведение их в сводную таблицу 
+/- 2. Выбор игроков участвующих в матче
    3. Разбиение игроков на команды (команд больше 2). Ручной режим (пока хз как) и автоматическая балансировка
+   4. Расчет ЭЛО-рейтинга для команд. 
    5. Перерасчет показателей rating и winrate для игроков по итогу матча (игроки пропустившие матч получают -0,5% от рейтинга)
+   6. Сохраниеие данных. Импорт и экпорд данных.
'''

In [1]:
import pandas as pd

In [2]:
def addPlayer(name, rating = 2500, games = 0, winrate = 0):
    """
    Создание игрока
    Если рейтинг не указан - присваевается стандартный (наверно 2500)
    Если винрейт не указан - присваевается стандартный (0)
    """
    name = name
    rating = rating
    games = games
    winrate = winrate
    newplayer = {'name':name, 'rating':rating, 'games':games, 'winrate':winrate}
    
#хз, пока не робит

In [3]:
def savePlayersList(PlayersList):
    df.to_csv("PlayersList.csv")
    print("Сохранение завершено")

In [4]:
def loadPlayersList(PlayersList):
    df = pd.read_csv("PlayersList.csv")
    return df

In [5]:
def elo_raiting(team_a, team_b):
    """
    Вычисляется ожидаемое количество очков
    """
    return 1 / (1 + 10 ** ((team_b - team_a) / 400))

In [6]:
#Тестовая табличка
df = pd.DataFrame({'name':['Максим', 'Александр', 'Роман', 'Николай', 'Андрей'], \
                   'rating':[2690, 2460, 2950, 2830, 3590], \
                   'games':[0, 0, 0, 0, 0], \
                   'winrate':[0, 0, 0, 0, 0]})
df

        name  rating  games  winrate
0     Максим    2690      0        0
1  Александр    2460      0        0
2      Роман    2950      0        0
3    Николай    2830      0        0
4     Андрей    3590      0        0

In [7]:
#Тестовове добавление игрока
new_row = {'name':'Костя', 'rating':3230, 'games':0, 'winrate':0}
df = df.append(new_row, ignore_index=True)
df

        name  rating  games  winrate
0     Максим    2690      0        0
1  Александр    2460      0        0
2      Роман    2950      0        0
3    Николай    2830      0        0
4     Андрей    3590      0        0
5      Костя    3230      0        0

In [8]:
df['rating'].sum()/2

8875.0

In [9]:
party = df.loc[df.name.isin(['Максим','Роман'])]
party

     name  rating  games  winrate
0  Максим    2690      0        0
2   Роман    2950      0        0

In [10]:
# Тестовый выбор участников игры

player_name = str(input())
number_of_players = df.loc[df.name.isin([player_name])]

Максим

In [11]:
для балансировки команд
"динамического программирования рюкзака"

SyntaxError: invalid syntax (<ipython-input-11-b3905b5759f9>, line 1)

In [ ]:
https://coderoad.ru/890171/%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC-%D1%80%D0%B0%D0%B7%D0%B4%D0%B5%D0%BB%D0%B8%D1%82%D1%8C-%D1%81%D0%BF%D0%B8%D1%81%D0%BE%D0%BA-%D0%BD%D0%B0-2-%D1%80%D0%B0%D0%B2%D0%BD%D1%8B%D0%B5-%D0%BF%D0%B5%D1%80%D0%B5%D1%87%D0%B8%D1%81%D0%BB%D1%8F%D0%B5%D1%82-%D1%81%D1%83%D0%BC%D0%BC%D1%83

In [12]:
def make_teams(que):
    que.sort()
    que.reverse()
    if len(que)%2: que.insert(0,0)
    t1,t2 = [],[]
    while que:
        if abs(len(t1)-len(t2))>=len(que):
            [t1, t2][len(t1)>len(t2)].append(que.pop(0))
        else:
            [t1, t2][sum(t1)>sum(t2)].append(que.pop(0))
    print(min(sum(t1),sum(t2)), max(sum(t1),sum(t2))), "\n"

if __name__=="__main__":
    que = [2690,2460,2950,2830,3590,3230, 100]
    make_teams(que)
    que = [1, 1, 50, 50, 50, 1000]
    make_teams(que)

8880 8970
150 1002

In [13]:
que = [2690,2460,2950,2830,3590,3230, 1]
que.sort()
que.reverse()
que.insert(0,0)
que

[0, 3590, 3230, 2950, 2830, 2690, 2460, 1]

По телеграм боту

https://habr.com/ru/post/585546/

https://mastergroosha.github.io/telegram-tutorial/docs/lesson_10/
    
https://www.youtube.com/watch?v=M8fhrtvedHA

8886.266990816668 8966.266990816668

In [112]:
#Проверка системы Эло


import random

p = random.random()

player1 = random.uniform(2000,3000)
player2 = random.uniform(2000,3000)
player3 = random.uniform(2000,3000)
player4 = random.uniform(2000,3000)

player6 = random.uniform(2000,3000)
player7 = random.uniform(2000,3000)
player8 = random.uniform(2000,3000)
player9 = random.uniform(2000,3000)

K = 50
team_a = player1 + player2 + player3 + player4
team_b = player6 + player7 + player8 + player9

Ea = 1 / (1 + 10 ** ((team_b - team_a) / 4000))

#Расчет нового рейтинга
if p >= 0.45:
    Ra = team_a + K * (1 - Ea)
    Rb = team_b + K * (0 - Ea)
       
else:
    Ra = team_a + K * (0 - Ea)
    Rb = team_b + K * (1 - Ea)

    
if p >= 0.45:
    print("Победа игрока А")
else:
    print("Победа игрока B")

print("random = ", p)   
print("Ea = ", Ea)

print()

print('Рейтинга команды А до матча = ', round(team_a))
print('Изменение рейтинга для каждого игрока команды А после матча = ', round(Ra - team_a))

print('Рейтинга команды В до матча = ', round(team_b))
print('Изменение рейтинга для каждого игрока команды В после матча = ', round(Rb - team_b))

print()

print('Рейтинг игрока 1 до/после матча = ', round(player1), "/", round(player1 + (Ra - team_a)))
print('Рейтинг игрока 2 до/после матча = ', round(player2), "/", round(player2 + (Ra - team_a)))
print('Рейтинг игрока 3 до/после матча = ', round(player3), "/", round(player3 + (Ra - team_a)))
print('Рейтинг игрока 4 до/после матча = ', round(player4), "/", round(player4 + (Ra - team_a)))
print('Рейтинг игрока 6 до/после матча = ', round(player6), "/", round(player6 + (Rb - team_b)))
print('Рейтинг игрока 7 до/после матча = ', round(player7), "/", round(player7 + (Rb - team_b)))
print('Рейтинг игрока 8 до/после матча = ', round(player8), "/", round(player8 + (Rb - team_b)))
print('Рейтинг игрока 9 до/после матча = ', round(player9), "/", round(player9 + (Rb - team_b)))

Победа игрока B
random =  0.019397155680571432
Ea =  0.5232959721931102

Рейтинга команды А до матча =  9984
Изменение рейтинга для каждого игрока команды А после матча =  -26
Рейтинга команды В до матча =  9822
Изменение рейтинга для каждого игрока команды В после матча =  24

Рейтинг игрока 1 до/после матча =  2704 / 2678
Рейтинг игрока 2 до/после матча =  2957 / 2931
Рейтинг игрока 3 до/после матча =  2019 / 1993
Рейтинг игрока 4 до/после матча =  2304 / 2277
Рейтинг игрока 6 до/после матча =  2261 / 2285
Рейтинг игрока 7 до/после матча =  2342 / 2366
Рейтинг игрока 8 до/после матча =  2454 / 2478
Рейтинг игрока 9 до/после матча =  2764 / 2788